<li><a asp-area="" asp-controller="Home" asp-action="Expressions">Expressions</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="Blocks">Blocks</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="Structures">Structures</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="Directives">Directives</a></li>
<li><a asp-area="" asp-controller="LayoutExamples" asp-action="Alpha">Layout Examples</a></li>
<li><a asp-area="" asp-controller="TagHelpers" asp-action="Index">Tag Helpers</a></li>
<li><a asp-area="" asp-controller="PartialsDemo" asp-action="Index">Partial Views</a></li>
<li><a asp-area="" asp-controller="ViewCompDemo" asp-action="Index">View Components</a></li>