@model IEnumerable<CoreCourse.RazorBasics.Domain.Entities.NewsArticle>
@foreach (var newsarticle in Model)
{
    <article class="panel panel-default">
        <section class="panel-heading">
            <h4 style="margin:0;">@newsarticle.Title</h4>
        </section>
        <section class="panel-body">
            @{
                string content = newsarticle.Content;
                int? limitChars = (int?)ViewBag.LimitChars;
                if (limitChars.HasValue && content.Length >= limitChars)
                {
                    content = content.Substring(0, limitChars.Value);
                }
                @Html.Raw(content + "...")
            }
        </section>
        <section class="panel-footer text-right">
            <i>Authored by @newsarticle.Author on @newsarticle.CreationDate.ToString("dd MMM yyyy HH:mm")</i>
        </section>
    </article>
}

