
@{
    Layout = "LayoutA";
    ViewBag.Title = "Alpha";
}

<p>
    This is View Alpha
</p>

@section Description{
    <h3>Description</h3>
    <p>
        View Alpha uses Layout A<br />Its contents are very similar to Views Bravo and Charlie.
    </p>
}


