@{
    Layout = "LayoutB";
    ViewData["Title"] = "Charlie"; //add a string named Title to ViewData
}

<p>
    This is View Charlie
</p>


@section Description{
    <h3>Description</h3>
    <p>
        View Bravo uses Layout B<br />
        Its contents are very similar to Views Alpha and Bravo, but is formatted quite differently thanks to the alternative Layout.
    </p>
}